.banner__title {
  font-size: 3em;
}

.banner__subtitle {
  font-size: 1.6em;
}

.shows_container {
  background: #F7F7F7;
  padding: 40px 0;
}

.shows {
  margin: 0 auto;
  grid-gap: 30px;
  padding: 15px;
}

.show__image_container {
  position: relative;
  height: 350px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
}

.show__image_container::after {
  content: '';
  position: absolute;
  background: white;
  opacity: 0.4;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 1;
  transform: translate(-100%, 100%);
  transition: ease-in-out 0.2s;
}

.show__image_container:hover.show__image_container::after {
  transform: translate(-100%, 100%) scale(13);
}

.show__title {
  color: var(--theme-color);
  font-size: 1.3em;
  line-height: 1.5;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.show__summary {
  font-size: 0.85em;
  line-height: 1.5;
  margin: 0;
}
