.list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile {
    border-radius: 50%;
    margin-right: 10px;
}

.label {
    display: flex;
    align-items: center;
}

.label__text {
    color: var(--theme-color);
    text-transform: uppercase;
    font-size: 0.9em;
    margin-right: 15px;
}

.label__text.text__has__image {
    margin-left: 20px;
    display: inline-block;
    color: var(--font-color);
    text-transform: capitalize;
}

.parameter {
    margin: 30px 0;
    color: rgba(0, 0, 0, 0.5);
}
